.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #363e45;
}

.box:hover {
    box-shadow: 1px 1px 15px 1px black;
    transition: 0.45s;
}

.box h2 {
    color: #D9D9D9;
    text-transform: uppercase;
    font-weight: 500px;
}

.but {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #83939D;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #D9D9D9;
    border-radius: 24px;
    transition: 0.5s;
}

.but:focus {
    width: 260px;
    border-color: #84AC7C;
}

.button {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #84AC7C;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: #D9D9D9;
    border-radius: 24px;
    transition: 0.5s;
    cursor: pointer;
}

.button:hover {
    background: #84AC7C;
}